@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form asp-action="Login" asp-controller="Login" method="post">
    <input type="text" , name="Email" /> <br />
    <input type="text" , name="Password" /> <br />
    <button>Gönder</button>
</form>